@import '_variables';

//Dark theme
$dark-color-primary: $dark;
$dark-color-secondary: $deep-dark;
$dark-color-tertiary: $dark-light;
$dark-color-disabled: $dark-lighter;

//Blue theme
$blue-color-primary: $blue;
$blue-color-secondary: $blue-hover;
$blue-color-tertiary: $blue-light;
$blue-color-disabled: $grey-light;

//fonts
$text-white: $white;

