<nav role="navigation" class="hidden-tablet">
    <div class="navbar-start navbar-menu">
        <div class="navbar-item">
            <a href="#" class="bages bages-icon"><i class="icon globe-icon"><span class="bage">11</span></i></a>
        </div>
        <div class="navbar-item">
            <a href="#"><b>Overview</b></a>
        </div>
        <div class="navbar-item is-active">
            <a href="#">Trades</a>
        </div>
        <div class="navbar-item">
            <a href="#" class="bages"><span class="bage-wrapper">Disputes <span class="bage">1</span></span></a>
        </div>
        <div class="navbar-item">
            <a href="#">Your offers <span class="status text-orange">4 inactive</span></a>
        </div>
        <div class="navbar-item">
            <a href="#">My team</a>
        </div>
        <div class="navbar-item">
            <a href="#">Trade History</a>
        </div>
    </div>
</nav>