<div class="tab-panel">
    <div class="tab-panel__description hidden-tablet">
        <p><b class="text-blue">4 trades</b> open and <span class="text-orange">77%</span> wallet in escrow.</p>
    </div>
    <div class="tab-panel__top-menu grid">
        <div class="tab-panel__top-menu-item grid-cell is-active"><span>not seen</span></div>
        <div class="tab-panel__top-menu-item grid-cell"><span>last seen</span></div>
        <div class="tab-panel__top-menu-item grid-cell"><span>has paid</span></div>
    </div>
    <div class="tab-panel__tabs" id="trades">
        <div class="tab-panel__tab-item">
            <a href="#tab-1">
                <div class="grid grid__flex-сells">
                    <div class="grid-cell trade-info">
                        <span class="message-status is-shown"></span>
                        <span class="buyer-username">
                            <span class="name">Chanaar</span> is buying
                        </span>
                        <span class="payment-method">Amazon Gift Card</span>
                        <span class="amount">77 usd (0.00542345 BTC)</span>
                    </div>
                    <div class="grid-cell paid-status">
                        <img src="images/user-icon.png" class="icon icon-sm" alt="">
                        <span class="paid-status-text is-paid">paid</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="tab-panel__tab-item">
            <a href="#tab-2">
                <div class="grid grid__flex-сells">
                    <div class="grid-cell trade-info">
                        <span class="message-status is-shown"></span>
                        <span class="buyer-username">
                            <span class="name">Chanaar</span> is buying
                        </span>
                        <span class="payment-method">iTunes Gift Card</span>
                        <span class="amount">30 usd (0.00542345 BTC)</span>
                    </div>
                    <div class="grid-cell paid-status">
                        <img src="images/user-icon.png" class="icon icon-sm" alt="">
                        <span class="paid-status-text">not paid</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="tab-panel__tab-item is-active">
            <a href="#tab-3">
                <div class="grid grid__flex-сells">
                    <div class="grid-cell trade-info">
                        <span class="message-status"></span>
                        <span class="buyer-username">
                            <span class="name">Chanaar</span> is buying
                        </span>
                        <span class="payment-method">iTunes Gift Card</span>
                        <span class="amount">45 usd (0.00542345 BTC)</span>
                    </div>
                    <div class="grid-cell paid-status">
                        <img src="images/user-icon.png" class="icon icon-sm" alt="">
                        <span class="paid-status-text">not paid</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="tab-panel__tab-item">
            <a href="#tab-4">
                <div class="grid grid__flex-сells">
                    <div class="grid-cell trade-info">
                        <span class="message-status"></span>
                        <span class="buyer-username">
                            <span class="name">Chanaar</span> is buying
                        </span>
                        <span class="payment-method">PayPal</span>
                        <span class="amount">12 usd (0.00542345 BTC)</span>
                    </div>
                    <div class="grid-cell paid-status">
                        <img src="images/user-icon.png" class="icon icon-sm" alt="">
                        <span class="paid-status-text">not paid</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>