<div class="tab-content">
    <div class="tab-pane grid grid--1of3" id="tab-1">
        <div class="grid-cell grid-cell--2of3">
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Here will be another chat room for tab 1...</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info">
                And trades data.
            </div>
        </div>
    </div>
    <div class="tab-pane grid grid--1of3" id="tab-2">
        <div class="grid-cell grid-cell--2of3">
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Here will be another chat room for tab 2...</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info">
                And trades data.
            </div>
        </div>
    </div>
    <div class="tab-pane is-active grid grid--1of3" id="tab-3">
        <div class="grid-cell grid-cell--2of3">
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Amazon Gift Card</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
                <div class="message-container">
                    <div class="scrollable-area" id="messages">
                        <div class="grid grid--right message-row">
                            <div class="grid-cell">
                                <div class="grid grid--1of2 message-box">
                                    <div class="grid-cell">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, an per vero dictas, omnis quaeque ut eos. Doming platonem pri an, animal viderer singulis ad per. An mel adhuc nonumy deleniti, cum eleifend conceptam ea, mea gloriatur efficiendi instructior eu.
                                        </p>
                                        <div class="publish-time"><span>12:34</span><span>pm</span></div>
                                    </div>
                                    <div class="grid-cell avatar">
                                        <i class="icon icon-circle user-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid--left message-row">
                            <div class="grid-cell">
                                <div class="grid grid--1of2 message-box">
                                    <div class="grid-cell avatar">
                                        <i class="icon icon-circle user-icon-2"></i>
                                    </div>
                                    <div class="grid-cell">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, an per vero dictas, omnis quaeque ut eos. Doming platonem pri an, animal viderer singulis ad per. An mel adhuc nonumy deleniti, cum eleifend conceptam ea, mea gloriatur efficiendi instructior eu.
                                        </p>
                                        <div class="publish-time"><span>12:36</span><span>pm</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="message-sender">
                        <div class="upload-file">
                            <i class="icon clip-icon"></i>
                            <input type="file" id="upload-file">
                        </div>
                        <input type="text" placeholder="Type your message..." id="message-text">
                        <label for="message-text" id="send-message-btn">send</label>
                    </div>
                </footer>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info text-center">
                <h3 class="trade-info-title">You are trading with <strong>Chanaar</strong></h3>
                <p class="trade-info-status">Started 32 minutes ago</p>
                <a href="#" class="button button-default release-bitcoins-btn">Release bitcoins</a>
                <div class="trade-info-list grid grid--1of2 grid--flexCells">
                    <div class="trade-info-list-item grid-cell">
                        <div class="icon icon-sm icon-circle">
                            <img src="../images/user-icon-lg.png" class="img-responsive" alt="">
                        </div>
                        <div class="reputation-status">
                            <span class="text-green">+37</span> /
                            <span class="text-red">-1</span>
                        </div>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title"># of trades</h4>
                        <p class="description"><b class="color-darken">4</b></p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">trade status</h4>
                        <p class="description"><span class="text-green text-uppercase">paid</span></p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">trade hash</h4>
                        <p class="description">45aFD3Rr</p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">amount usd</h4>
                        <p class="description color-darken">25.00</p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">amount btc</h4>
                        <p class="description">0.00234524</p>
                    </div>
                </div>
                <div class="trade-vertical-info-list text-left">
                    <div class="trade-info-list-item">
                        <h4 class="title">payment method name</h4>
                        <p class="description">Amazon Gift Card</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title">btc/usd rate</h4>
                        <p class="description">$4,503.34</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title">link to your offer</h4>
                        <p class="description">paxfull.com/offer/iFLSd345</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title">link to your offer</h4>
                        <p class="description">paxfull.com/offer/iFLSd341</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title"># trades with this user</h4>
                        <p class="description">No trades yet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane grid grid--1of3" id="tab-4">
        <div class="grid-cell grid-cell--2of3">
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Here will be another chat room for tab 4...</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info">
                And trades data. <br>
                <a href="#" class="button button-default release-bitcoins-btn">Release bitcoins</a>
            </div>
        </div>
    </div>
</div>