<div class="tab-content" id="traders-info">
    <div class="tab-pane grid grid--1of3" id="tab-1">
        <div class="grid-cell grid-cell--2of3">
            <div class="top-bar visible-tablet">
                <div class="grid">
                    <div class="grid-cell btn-back-wrapper" style="flex: 0 0 50px">
                        <a href="#" class="button-circle btn-back">
                            <svg width="19px" height="17px" viewBox="0 0 19 17" version="1.1">
                                <defs></defs>
                                <g id="Testimonials" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="Header-Nav-Opened-Mobile" transform="translate(-19.000000, -21.000000)" stroke="#31374D" stroke-width="2">
                                        <g id="icon-back" transform="translate(28.277778, 29.833333) scale(-1, 1) rotate(-90.000000) translate(-28.277778, -29.833333) translate(21.166667, 21.833333)">
                                            <polyline id="Stroke-1" points="14.2222222 8.88888889 7.11111111 16 0 8.88888889"></polyline>
                                            <path d="M7.11111111,0 L7.11111111,16" id="Stroke-7"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="grid-cell">
                        <div class="grid control-tabs">
                            <div class="grid-cell control-tabs__item show-messages-btn" data-tab=".chat-room">messages</div>
                            <div class="grid-cell control-tabs__item show-trades-info-btn" data-tab=".trade-info">trades info</div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit hidden-tablet"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove hidden-tablet"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Here will be another chat room for tab 1...</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info">
                <div class="container is-fluid">
                    And trades data.
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane grid grid--1of3" id="tab-2">
        <div class="grid-cell grid-cell--2of3">
            <div class="top-bar visible-tablet">
                <div class="grid">
                    <div class="grid-cell btn-back-wrapper" style="flex: 0 0 50px">
                        <a href="#" class="button-circle btn-back">
                            <svg width="19px" height="17px" viewBox="0 0 19 17" version="1.1">
                                <defs></defs>
                                <g id="Testimonials" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="Header-Nav-Opened-Mobile" transform="translate(-19.000000, -21.000000)" stroke="#31374D" stroke-width="2">
                                        <g id="icon-back" transform="translate(28.277778, 29.833333) scale(-1, 1) rotate(-90.000000) translate(-28.277778, -29.833333) translate(21.166667, 21.833333)">
                                            <polyline id="Stroke-1" points="14.2222222 8.88888889 7.11111111 16 0 8.88888889"></polyline>
                                            <path d="M7.11111111,0 L7.11111111,16" id="Stroke-7"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="grid-cell">
                        <div class="grid control-tabs">
                            <div class="grid-cell control-tabs__item show-messages-btn" data-tab=".chat-room">messages</div>
                            <div class="grid-cell control-tabs__item show-trades-info-btn" data-tab=".trade-info">trades info</div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit hidden-tablet"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove hidden-tablet"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Here will be another chat room for tab 2...</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info">
                <div class="container is-fluid">
                    And trades data.
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane is-active grid grid--1of3" id="tab-3">
        <div class="grid-cell grid-cell--2of3">
            <div class="top-bar visible-tablet">
                <div class="grid">
                    <div class="grid-cell btn-back-wrapper" style="flex: 0 0 50px">
                        <a href="#" class="button-circle btn-back">
                            <svg width="19px" height="17px" viewBox="0 0 19 17" version="1.1">
                                <defs></defs>
                                <g id="Testimonials" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="Header-Nav-Opened-Mobile" transform="translate(-19.000000, -21.000000)" stroke="#31374D" stroke-width="2">
                                        <g id="icon-back" transform="translate(28.277778, 29.833333) scale(-1, 1) rotate(-90.000000) translate(-28.277778, -29.833333) translate(21.166667, 21.833333)">
                                            <polyline id="Stroke-1" points="14.2222222 8.88888889 7.11111111 16 0 8.88888889"></polyline>
                                            <path d="M7.11111111,0 L7.11111111,16" id="Stroke-7"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="grid-cell">
                        <div class="grid control-tabs">
                            <div class="grid-cell control-tabs__item show-messages-btn" data-tab=".chat-room">messages</div>
                            <div class="grid-cell control-tabs__item show-trades-info-btn" data-tab=".trade-info">trades info</div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit hidden-tablet"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove hidden-tablet"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Amazon Gift Card</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
                <div class="message-container">
                    <div class="scrollable-area" id="messages">
                        <div class="grid grid--right message-row">
                            <div class="grid-cell">
                                <div class="grid grid--1of2 message-box">
                                    <div class="grid-cell">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, an per vero dictas, omnis quaeque ut eos. Doming platonem pri an, animal viderer singulis ad per. An mel adhuc nonumy deleniti, cum eleifend conceptam ea, mea gloriatur efficiendi instructior eu.
                                        </p>
                                        <div class="publish-time"><span>12:34</span><span>pm</span></div>
                                    </div>
                                    <div class="grid-cell avatar">
                                        <i class="icon icon-circle user-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid--left message-row">
                            <div class="grid-cell">
                                <div class="grid grid--1of2 message-box">
                                    <div class="grid-cell avatar">
                                        <i class="icon icon-circle user-icon-2"></i>
                                    </div>
                                    <div class="grid-cell">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, an per vero dictas, omnis quaeque ut eos. Doming platonem pri an, animal viderer singulis ad per. An mel adhuc nonumy deleniti, cum eleifend conceptam ea, mea gloriatur efficiendi instructior eu.
                                        </p>
                                        <div class="publish-time"><span>12:36</span><span>pm</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="message-sender">
                        <div class="upload-file">
                            <i class="icon clip-icon"></i>
                            <input type="file" id="upload-file">
                        </div>
                        <textarea placeholder="Type your message..." id="message-text"></textarea>
                        <label for="message-text" id="send-message-btn">send</label>
                    </div>
                </footer>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info text-center">
                <h3 class="trade-info-title">You are trading with <strong>Chanaar</strong></h3>
                <p class="trade-info-status">Started 32 minutes ago</p>
                <a href="#" class="button button-default release-bitcoins-btn">Release bitcoins</a>
                <div class="trade-info-list grid grid--1of2 grid__flex-сells">
                    <div class="trade-info-list-item grid-cell">
                        <div class="icon icon-sm icon-circle">
                            <img src="images/user-icon-lg.png" class="img-responsive" alt="">
                        </div>
                        <div class="reputation-status">
                            <span class="text-green">+37</span> /
                            <span class="text-red">-1</span>
                        </div>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title"># of trades</h4>
                        <p class="description"><b class="color-darken">4</b></p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">trade status</h4>
                        <p class="description"><span class="text-green text-uppercase">paid</span></p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">trade hash</h4>
                        <p class="description">45aFD3Rr</p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">amount usd</h4>
                        <p class="description color-darken">25.00</p>
                    </div>
                    <div class="trade-info-list-item grid-cell">
                        <h4 class="title">amount btc</h4>
                        <p class="description">0.00234524</p>
                    </div>
                </div>
                <div class="trade-vertical-info-list text-left">
                    <div class="trade-info-list-item">
                        <h4 class="title">payment method name</h4>
                        <p class="description">Amazon Gift Card</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title">btc/usd rate</h4>
                        <p class="description">$4,503.34</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title">link to your offer</h4>
                        <p class="description">paxfull.com/offer/iFLSd345</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title">link to your offer</h4>
                        <p class="description">paxfull.com/offer/iFLSd341</p>
                    </div>
                    <div class="trade-info-list-item">
                        <h4 class="title"># trades with this user</h4>
                        <p class="description">No trades yet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane grid grid--1of3" id="tab-4">
        <div class="grid-cell grid-cell--2of3">
            <div class="top-bar visible-tablet">
                <div class="grid">
                    <div class="grid-cell btn-back-wrapper" style="flex: 0 0 50px">
                        <a href="#" class="button-circle btn-back">
                            <svg width="19px" height="17px" viewBox="0 0 19 17" version="1.1">
                                <defs></defs>
                                <g id="Testimonials" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="Header-Nav-Opened-Mobile" transform="translate(-19.000000, -21.000000)" stroke="#31374D" stroke-width="2">
                                        <g id="icon-back" transform="translate(28.277778, 29.833333) scale(-1, 1) rotate(-90.000000) translate(-28.277778, -29.833333) translate(21.166667, 21.833333)">
                                            <polyline id="Stroke-1" points="14.2222222 8.88888889 7.11111111 16 0 8.88888889"></polyline>
                                            <path d="M7.11111111,0 L7.11111111,16" id="Stroke-7"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="grid-cell">
                        <div class="grid control-tabs">
                            <div class="grid-cell control-tabs__item show-messages-btn" data-tab=".chat-room">messages</div>
                            <div class="grid-cell control-tabs__item show-trades-info-btn" data-tab=".trade-info">trades info</div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="chat-room">
                <header>
                    <div class="chat-room__header">
                        <a href="#" class="button-circle button-edit hidden-tablet"><i class="icon edit-icon"></i></a>
                        <a href="#" class="button-circle button-remove hidden-tablet"><i class="icon trash-icon"></i></a>
                        <h3 class="payment-method">Here will be another chat room for tab 4...</h3>
                        <div class="buyer-reputation">
                            <span class="name">Chanaar</span>
                            <span class="reputation-status">
                                <span class="text-green">+37</span> /
                                <span class="text-red">-1</span>
                            </span>
                        </div>
                    </div>
                </header>
            </section>
        </div>
        <div class="grid-cell">
            <div class="trade-info">
                <div class="container is-fluid">
                    And trades data. <br>
                    <a href="#" class="button button-default release-bitcoins-btn">Release bitcoins</a>
                </div>
            </div>
        </div>
    </div>
</div>