@import "../common/mixins";
.header-top-panel {
  padding: 20px 0;
  background-color: #31374D;
}

#logo {
  overflow: hidden;
  @include respond-to(tablets-small) {
    height: 30px;
    width: auto;
  }
  img {
    flex-shrink: 0;
    width: 170px;
    height: auto;
    margin-top: 4px;
  }
}

#open-mobile-menu {
  position: absolute;
  right: 0;
  top: 9px;
  cursor: pointer;
}

#wrapper > header {
  @include respond-to(tablets-small) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

#wrapper > main {
  @include respond-to(tablets-small) {
    padding-top: 80px;
  }
}